# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from pprint import pprint
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Load the csv file from part 1
# Not sure if I should be using the cleaned one or the previous one, 
#but Im guessing the cleaned one
file = "../Output_Data/Clean_City_Data"
clean_df = pd.read_csv(file)
# clean_df has a 'unnamed' column, so remove it so it looks better
#clean_df.head()
weather_df = clean_df.drop(columns=["Unnamed: 0"])
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kaputa,-8.47,29.66,80.44,40,2,4.61,ZM,1603044085
1,busselton,-33.65,115.33,60.01,51,1,8.72,AU,1603044085
2,sal rei,16.18,-22.92,87.80,70,8,6.93,CV,1603044086
3,zaranj,30.97,61.88,68.00,18,0,16.11,AF,1603044086
4,ostrovnoy,68.05,39.51,34.38,87,55,13.22,RU,1603044086

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key = g_key)

# Initiate variables
locations = weather_df[['Lat', 'Lng']].astype(float)
humidity = weather_df['Humidity']

In [4]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights=humidity, 
                                 dissipating=False, 
                                 max_intensity=100, 
                                 point_radius=1)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the DataFrame to find your ideal weather condition.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Set specifications
ideal_temp = (weather_df['Max Temp']>70) & (weather_df['Max Temp']<86)
ideal_wind = weather_df['Wind Speed']<10
ideal_humid = weather_df['Humidity']<50

# Collect all ideal specs
ideal_vaca = ideal_temp & ideal_wind & ideal_humid

# Create new df using collected specs
ideal_vaca_df = weather_df[ideal_vaca]
ideal_vaca_df = ideal_vaca_df.dropna()

# Limit the number of rows returned by your API requests to a reasonable number.
# I think this is what that means... by making sure only 7 rows are returned..
ideal_vaca_df.head(7)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,kaputa,-8.47,29.66,80.44,40,2,4.61,ZM,1603044085
23,jalalabad,34.43,70.45,74.82,19,0,3.71,AF,1603044090
31,fallon,39.47,-118.78,72.00,25,1,4.59,US,1603044028
137,qandala,11.47,49.87,83.28,41,0,5.35,SO,1603044115
141,chuy,-33.70,-53.46,77.67,47,0,7.16,UY,1603044115
179,funtua,11.52,7.31,79.25,40,8,4.83,NG,1603044123
217,laguna,38.42,-121.42,78.01,33,1,3.36,US,1603044132

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# Store into variable named hotel_df
# I think that means just change the name of the df..
hotel_df = ideal_vaca_df

# Add a "Hotel Name" column to the df
# Use empty quotes for initial value, since we don't have that data yet
hotel_df['Hotel Name'] = ""

# hotel_df.head()

In [7]:
# Hit the Google Places API for each city's coordinates
# Set parameters dictionary to search for hotels with 5000 meters
params = {
    "radius": 5000, 
    "types": "hotels", 
    "keyword": "hotel", 
    "key": g_key}

# Start a for loop using iterrows 
for index, row in hotel_df.iterrows():
    
    # First, get the lat and long coords from our df
    lat = row['Lat']
    lng = row['Lng']
    
    # Add a location parameter using lat and long that we just iterrated through
    params['Location'] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    response = requests.get(base_url, params=params).json()
    #print(json.dumps(response, indent=4, sort_keys=True))
    
    # Store the first Hotel result into the DataFrame
    try:
        hotel_df.loc[index, "Hotel Name"] = response["results"][0]["name"]
        
    except:
        print("Missing data")
# Store the first Hotel result into the DataFrame

Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data
Missing data

In [13]:
#hotel_df.head()

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
hotel_markers = gmaps.marker_layer(locations)
fig.add_layer(hotel_markers)
plt.savefig("../Images/hotel_heatmap.png")
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))